# (Analysis will go here)
- note 1
- note 2
- note 3

In [20]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# Load csv files
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read csv files
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the datasets
full_school_data_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
full_school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [46]:
# Total number of unique schools:
school_count = len(full_school_data_df['school_name'].unique())
print(school_count)

15

In [71]:
# Total number of students:
# note: students may share same first/last name, so unique is not used here
student_count = full_school_data_df['student_name'].count()
print(student_count)

39170

In [52]:
# Total budget:
# source function [1]  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pivot.html
budget_summ_df = full_school_data_df.pivot_table(index= 'school_name', values= 'budget')
total_budget = budget_summ_df['budget'].sum()
print(total_budget)

24649428

In [57]:
# Average math score (mean)
student_summ_df = full_school_data_df.pivot_table(index= 'Student ID')
avg_math_score = student_summ_df['math_score'].mean()
print(avg_math_score)

78.98537145774827

In [58]:
# Average readimg score (mean)
student_summ_df = full_school_data_df.pivot_table(index= 'Student ID')
avg_reading_score = student_summ_df['reading_score'].mean()
print(avg_reading_score)

81.87784018381414

In [64]:
# Percent passing math scores
passing_math_count = full_school_data_df[(full_school_data_df['math_score'] >= 70)].count()['student_name']
print(str(passing_math_count) + ' students passed math.')

percent_passing_math = passing_math_count/float(student_count)*100
print(str(percent_passing_math) + '% students passed math.')

29370 students passed math.
74.9808526933878% students passed math.

In [65]:
# Percent passing reading scores
passing_reading_count = full_school_data_df[(full_school_data_df['reading_score'] >= 70)].count()['student_name']
print(str(passing_reading_count) + ' students passed reading.')

percent_passing_reading = passing_reading_count/float(student_count)*100
print(str(percent_passing_reading) + '% students passed reading.')

33610 students passed reading.
85.80546336482001% students passed reading.

In [73]:
# Calculate overall passing percent, combine both math and reading here:
passing_both_count = full_school_data_df[(full_school_data_df['reading_score'] >= 70) & 
                                         (full_school_data_df['math_score'] >= 70)
                                                            ].count()['student_name']
print(str(passing_both_count) + ' students pass both math and reading.')

overall_passing_rate = passing_both_count / float(student_count)*100
print(str(overall_passing_rate) + '% students passed both math and reading.')

25528 students pass both math and reading.
65.17232575950983% students passed both math and reading.

In [91]:
# Create a high-level snapshot of these summary statistics as a DataFrame.
# source [0]: edX Boot Camps LLC. 
summary_dict = {'Total Schools': school_count, 'Total Students': student_count, 'Total Budget': total_budget, 
                'Average Math Score': avg_math_score, 'Average Reading Score': avg_reading_score,
                '% Passing Math': percent_passing_math, '% Passing Reading': percent_passing_reading, 
                'Overall Passing': overall_passing_rate}

district_summ_df = pd.DataFrame([summary_dict])

district_summ_df["Total Students"] = district_summ_df["Total Students"].map("{:,}".format)
district_summ_df["Total Budget"] = district_summ_df["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summ_df
# print(district_summ_df)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326